@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  /* background-color: blue; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav .nav-button {}

.logo-title {
  font-size: 2rem;
  font-weight: bold;
  /* font-family: Satoshi; */
}

.logo {
  width: 3rem;
  height: 3rem;
}


nav .nav-items .nav-item {
  font-weight: 400;
  font-size: 12.5px;
}


.phone-section {
  min-height: 20vh;
}

.main-section {

  background-repeat: no-repeat;
  background-image: url("../src/images/women--background-accueil.png");
  background-position: 100% 33.5%;

}

.userPhone{
  top : 50%;
  left: -4%;
}
.userCni {
 top: 0;
 left: 0;
}
/* .phone-section {
  background-repeat: no-repeat;
  background-image: url("../src/images/phones.png");
  background-position: 100% 100%;

} */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}

.card-accueil {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2.5rem;
}

.card-grid-white {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: center;
  background-color: #fff;
  border-radius: 2.5rem;
}


.card-grid .icon {
  font-size: 2rem;
  font-weight: bold;
}

.card-anonymously {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16rem);
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}

.sub-card-anonymously {
  width: 15rem;
  height: 8rem;
}

.mini-nav-items .mini-nav-item {
  border-bottom: solid 5px #5edeaf;
  border-bottom-left-radius: 8px;
}

.world-section {
  min-height: 160vh;
}

/* .world-section  .world-button{
  margin-top: 15rem; 
} */

.world-section .world-description {
  margin-bottom: 15rem;
}

/* .world-section .world-group{
  margin-left: 8rem;
} */


.phones {
  width: 30rem;
}


.big-circles .big-circle-detail {
  font-size: 12px;
  color: #285246;
  padding-top: 1rem;
}


.big-circle {
  width: 12rem;
  height: 12rem;
  background-color: #EAEAEA;
}

.big-circle:hover {
  width: 12rem;
  height: 12rem;
  background-color: #5edeaf;
  color: white;
}

.arrow-circle {
  top: -2rem;
  right: -3.5rem;
}

.small-circle-check {
  width: 2rem;
  height: 2rem;
}

@media (min-width:1022.22px) {
  .big-circles {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.relation-onboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}

.card-horiz {
  width: 205px;
  height: 300px;

}

.section-footer {
  z-index: 2;
  position: relative;
}

/* .section-footer .footer-title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -1px;
} */

.section-footer .footer-text {
  margin-left: 7rem;
}

form .logo-footer img {
  width: 3rem;
  height: 3rem;
}

.btn-circle {
  width: 2rem;
  height: 2rem;
}

.scroll-disponibility {
  margin: 0 50rem;
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.side-bar {
  background-color: #1c5b44;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 15%;
  z-index: 2000;
  left: -30%;
  transition: 0.6s ease;
  transition-property: left;
}


.remove-icon {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
}

.menu .items .item {
  padding: 1rem 1rem;
  margin: 0 1rem;
}

.menu .items .item:hover {
  padding: 1rem 1rem;
  background-color: #64fbbf;
  border-radius: 10rem;
  color: white;
  font-weight: bold;
  text-wrap: nowrap;
}

.section-card .empty-card {}


.icon-bars {
  display: none;
}

.icon-bars:hover {
  cursor: pointer;
}
.grandMere{
  width: 95%;
  height: 142.2%;
}
.groupGirl{
  width: 110%;
  height: 110%;
}
.groupDatabase{
  width: 100%;
  height: 150%;
}
/* .verification-section {
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 15px;
  height: 120%;
} */


.verification-section .image-container {
  /* flex: 1; */
  top: -2rem;
  left: -3rem;
  width: 42%;
  height: 106%;
  justify-content: center;
  align-items: center;
}

@media (max-width:1369.67px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 42%;
    height: 105.5%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1289px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 42%;
    height: 104%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1288.73px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 42%;
    height: 105%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1288px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 42%;
    height: 105%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1266.67px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 42%;
    height: 104.2%;
    justify-content: center;
    align-items: center;
  }

  .verification-section {
    height: 105%;
  }
}

@media (max-width:1200px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 45%;
    height: 104.4%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1188px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 50%;
    height: 104.5%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1148px) {
  .verification-section .image-container {
    /* flex: 1; */
    top: -2rem;
    left: -3rem;
    width: 50%;
    height: 104.2%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1023.27px) {
  .verification-section .image-container {
    /* flex: 1; */
    display: none;
  }

  .verification-section .div-card-content {
    padding: 2rem 5rem;
  }
}


.pricing-section {
  min-height: 150vh;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.nav-sub-items {
  position: absolute;
  left: 1rem;
  top: 3rem;
  padding: 1rem 1rem;
  text-wrap: nowrap;
  background-color: #64fbbf;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.nav-sub-items .nav-sub-item {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.menu-bars {
  display: none;
}

@media (max-width: 1200px) {
  .icon-bars {
    display: block;
  }

  nav .nav-items {
    display: none;
  }

  nav .menu-bars {
    display: inline-block;
  }

  .card-grid-white {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    align-items: center;
    background-color: white;
    border-radius: 2.5rem;
  }
}

@media (max-width: 1500px) {
  .icon-bars {
    display: block;
  }

  nav .nav-button {
    display: none;
  }

  .small-circle-check {
    width: 1.5rem;
    height: 1.5rem;
  }

  .card-grid-white {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    align-items: center;
    background-color: white;
    border-radius: 2.5rem;
  }

}

@media (max-width: 900px) {
  .icon-bars {
    display: block;
  }

  nav .nav-button {
    display: none;
  }

  .small-circle-check {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.image-background {
  width: 40rem;
  height: 40rem;
}

.section-faster {
  /* background-size: 40%; */
  /* padding-top: 8rem 4rem 0 4rem; */
}

@media (max-width:828px) {
  .section-faster {
    /* padding : 8rem 4rem 0 4rem; */
    /* background-size: 100%; */
  }

  .section-faster .faster {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
  }

  .section-faster-1 .faster {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
  }
}

@media (max-width:804px) {
  nav .nav-demo-button {
    display: none;
  }

  .section-faster .faster {

    margin-top: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .section-faster-1 .faster {

    margin-top: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }
}

@media (max-width:756px) {
  .section-faster .section-title {
    font-size: 2rem;
  }
}

@media (max-width:639.8px) {
  nav {
    padding: 0 2rem;
  }

  nav .nav-logo .logo-title {
    font-size: 1.4rem;
  }

  nav .nav-logo .logo img {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width:770px) {
  .main-section { 
    background-repeat: no-repeat; 
    background-position: 30% 36%;
  }
}

@media (max-width:480px) {
  nav {
    padding: 0 2rem;
  }

  nav .nav-logo .logo-title {
    font-size: 1.2rem;

  }

  nav .nav-logo .logo img {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width:1483.87px) {
  .group-cni{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .userCni{
    width: 90%; 
  }
  .userPhone{
    width: 18%;
    height: 55%;
    left: 1.5rem;
  }
}
.footer-section-background{
  background-repeat: no-repeat;
  background-image: url("../src/images/femme-footer.png");
  background-position: bottom right;
  background-size: contain;
}
@media (max-width:960.00px) {
  .group-cni{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .userCni{
    width: 70%;
    height: 100%;
  }
  .userPhone{
    width: 18%;
    height: 55%;
    left: 6.5rem;
  }
}
@media (max-width:890.00px) {
   
  .userPhone{
    width: 18%;
    height: 55%;
    left: 6rem;
  }
}
@media (max-width:805.33px) {
   
  .userPhone{
    width: 18%;
    height: 55%;
    left: 5.5rem;
  }
  
}
@media (max-width:754.13px) {
   
  .userPhone{
    width: 18%;
    height: 55%;
    left: 5rem;
  }
}
@media (max-width:700.00px) {
   
  .userPhone{
    width: 18%;
    height: 55%;
    left: 4.8rem;
  }
}
@media (max-width:666.67px) {
   
  .userPhone{
    width: 18%;
    height: 55%;
    left: 4.3rem;
  }
}

