@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  margin : 0 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav .nav-button {
  margin: 0 2rem 0 0;
}
.logo-title {
  font-size: 2rem;
  font-weight: bold;
  /* font-family: Satoshi; */
}

.logo {
  width: 3rem;
  height: 3rem;
}

nav .nav-button {
  font-weight: 400;
  color: #f5f5f5;
  padding: 0.7rem 4rem;
}

nav .nav-items .nav-item {
  font-weight: 400;
  font-size: 12.5px;
}

.section-faster {
  margin-top: 8rem;
  min-height: 50vh;
}
.section-faster .faster{
  margin-top: 8rem;
  min-height: 50vh;
}
.phone-section{
  min-height: 20vh;
}

.section-faster-1 {
  margin-top: 8rem;
  min-height: 55vh;
}
.section-faster-1 .faster{
  margin-top: 8rem;
  min-height: 55vh;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}

.card-accueil {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2.5rem;
}

.card-grid-white{
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: center;
  background-color: #fff;
  border-radius: 2.5rem;
}

 
.card-grid .icon {
  font-size: 2rem;
  font-weight: bold;
}
.card-anonymously {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16rem);
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}
.sub-card-anonymously {
  width: 15rem;
  height: 8rem;
}

.mini-nav-items .mini-nav-item {
  border-bottom: solid 5px #5edeaf;
}

.world-section{
  min-height: 160vh;
}

/* .world-section  .world-button{
  margin-top: 15rem; 
} */

.world-section .world-description {
 margin-bottom: 15rem;
}

/* .world-section .world-group{
  margin-left: 8rem;
} */

 
.phones{
  width: 30rem;
}
.big-circles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  align-items: center;
  justify-content: center;
}

.big-circles .big-circle-detail {
  font-size: 12px;
  color: #285246;
  padding-top: 1rem;
}


.big-circle {
  width: 12rem;
  height: 12rem;
  background-color: #EAEAEA;
}

.big-circle:hover {
  width: 12rem;
  height: 12rem;
  background-color: #5edeaf;
  color: white;
}
.arrow-circle {
  top: -2rem;
  right: -3.5rem;
}

.grid-width {
  width: 30rem;
  padding: 1rem 2rem;
  /* margin : 0 5rem 0 0 */
}

.empty-card {
  width: 15rem;
  height: 20rem;
  border-radius: 2rem;
}

.small-circle-check {
  width: 2rem;
  height: 2rem;
}

.empty-card-2 {
  width: 25rem;
  height: 10rem;
  border-radius: 2rem;
}

.circle-orange-100 {
  width: 8rem;
  height: 8rem;
  background-color: #F3EFE0;
}
/* 
.circle-amber-100 {
  width: 3rem;
  height: 3rem;
} */

.relation-onboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  align-items: center;
  justify-content:center;
  border-radius: 2.5rem;
}

.card-horiz{
  width: 205px;
  height: 300px;
  
}
.section-card .degradation-section{
  width: 100%;
  height: 70%;
  border-radius: 1rem;
}

.section-footer{
  z-index: 2;
  position: relative;
}
/* .section-footer .footer-title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -1px;
} */

.section-footer .footer-text {
  margin-left: 7rem;
}

form .logo-footer img {
  width: 3rem;
  height: 3rem;
}

.btn-circle {
  width: 2rem;
  height: 2rem;
}

.scroll-disponibility {
  margin: 0 50rem;
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.side-bar {
  background-color: #1c5b44;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 15%;
  z-index: 2000;
  left: -30%;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar header img {
  height: 8rem;
  width: 8rem;
  margin: 4rem 0 5rem 4.5rem;
  border-radius: 50%;
}

.remove-icon {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
}

.menu .items .item {
  padding: 1rem 1rem;
  margin: 0 1rem;
}
.menu .items .item:hover {
  padding: 1rem 1rem;
  background-color: #64fbbf;
  border-radius: 10rem;
  color: white;
  font-weight: bold;
  text-wrap: nowrap;
}

.section-card .empty-card{

}
 

.icon-bars {
  display: none;
}

.icon-bars:hover {
  cursor: pointer;
}

.verification-section {
  display: flex;
  align-items:center;
  justify-content:center;
  border-radius: 15px;
  min-height: 80vh;
}

 
.verification-section .image-container {
  /* flex: 1; */
  top: -2rem;
  left: -3rem;
  width: 38rem;
  height: 38.1rem;
  justify-content: center;
  align-items: center;
}

.pricing-section{
  min-height: 150vh;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.nav-sub-items {
  position: absolute;
  left: 1rem;
  top: 3rem;
  padding: 1rem 1rem;
  text-wrap: nowrap;
  background-color: #64fbbf;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.nav-sub-items .nav-sub-item {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.menu-bars{
  display: none;
}

@media (max-width: 1200px) {
  .icon-bars {
    display: block;
  }
  nav .nav-items {
    display: none;
  }
  nav .menu-bars{
    display: inline-block;
  }
  .card-grid-white{
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    align-items: center;
    background-color: white;
    border-radius: 2.5rem;
  }
}

@media (max-width: 1500px) {
  .icon-bars {
    display: block;
  }
  nav .nav-button {
    display: none;
  }

  .small-circle-check {
    width: 1.5rem;
    height: 1.5rem;
  }
  .card-grid-white{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    align-items: center;
    background-color: white;
    border-radius: 2.5rem;
  }
  
}

@media (max-width: 900px) {
  .icon-bars {
    display: block;
  }
  nav .nav-button {
    display: none;
  }

  .small-circle-check {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.image-background {
  width: 40rem;
  height: 40rem;
}

@media (min-width: 1200px) {
   
  /* .verification-section .image-container {
    width: 23rem;
    height: 24.7rem; 
  } */
 
}
@media (min-width: 1300px) {
   
  /* .verification-section .image-container {
    width: 24rem;
    height: 27.8rem; 
  } */
 
}
 

@media (min-width:1400px) {
 
  .section-faster .faster{
    min-height: 60vh;
  }
  .section-faster{
    min-height: 60vh;
  }
  .section-faster-1 {
    min-height: 55vh;
  }
  .section-faster-1 .faster{
    min-height: 55vh;
  } 
  /* .verification-section .image-container {
    width: 28rem;
    height: 30.3rem; 
  } */
  
}
@media (min-width:1600px) {
 
  .section-faster-1 {
    min-height: 45vh;
    /* padding: 0 10rem; */
  }
  .section-faster-1 .faster{
    min-height: 45vh;
  }
  
  /* .verification-section .image-container {
    width: 30rem;
    height: 33.5rem; 
  } */
}
 
@media (min-width:1800px) {
  .section-footer .card-footer-logo {
    width: 40rem;
  }
  .section-faster-1 {
    min-height: 45vh;
    /* padding: 0 10rem; */
  }
  .section-faster-1 .faster{
    min-height: 45vh;
  }
  
  /* .verification-section .image-container {
    width: 32rem;
    height: 37.3rem; 
  } */
}

@media (min-width:2000px) {
 
  .section-faster-1 {
    min-height: 45vh;
    /* padding: 0 10rem; */
  }
  .section-faster-1 .faster{
    min-height: 45vh;
  } 
  /* .verification-section .image-container {
    width: 34em;
    height: 39.8rem; 
  } */
}
 
 